<h2>Danh Sách các xe đăng ký ở bến xe</h2>
<div class="row justify-content-between">

</div>
  <table class="table mt-3" style="font-size: 12px;">
    <thead>
    <tr>
      <!--      <th>ID</th>-->
      <th>Số xe</th>
      <th>Loại xe</th>
      <th>Tên nhà xe</th>
      <th>Điểm đi</th>
      <th>Điểm đến</th>
      <th>Số điện thoại</th>
      <th>Email</th>
      <th>Giờ đi</th>
      <th>Giờ đến</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let xekhach of xe_khach_list | paginate: { itemsPerPage: 2, currentPage: page }">
      <!--      <td>{{customer.id}}</td>-->
      <td>{{xekhach.xekhach_id}}</td>
      <td>{{xekhach.loai_xe.name}}</td>
      <td>{{xekhach.ten_nha_xe}}</td>
      <td>{{xekhach.diem_den}}</td>
      <td>{{xekhach.diem_di}}</td>
      <td>{{xekhach.tel}}</td>
      <td>{{xekhach.gio_di}}</td>
      <td>{{xekhach.gio_den}}</td>
      <td style="width: 12%;">
        <button class="btn btn-sm btn-warning mr-2"
                [routerLink]="['edit', xekhach.xekhach_id]">Sửa
        </button>
        <button data-toggle="modal" data-target="#idModal" class="btn btn-sm btn-danger"
                (click)="getXeKhachId(xekhach.xekhach_id)">Xóa
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="modal fade" id="idModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thông Báo!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xóa: {{xekhach_id}} không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteXeKhach(xekhach_id)">Xóa</button>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>

